h1
{
    color: skyblue;
    border: 20px;
    background-color:green ;
    text-align: center;
}
h2
{
    color: skyblue;
    border: 20px;
    background-color:red ;
    text-align: right;
}
h3
{
    color: skyblue;
    border: 20px;
    background-color:blue ;
}